*{
	padding:0px;
	margin:0px;
}
.grid{
	display:grid;
	height:100vh;
	width:100vw;
	grid-template-columns:1fr 3fr 1fr;
	grid-template-rows:1fr 4fr 1fr;
	
	
	
}
.navbar{
	background-color:#D7E8D4;
	grid-row-start:1;
	grid-row-end:-1;
	
	
}
.header{
	background-color:yellowgreen;
	grid-column-start:2;
	grid-column-end:-1;
	
}
.article{
	background-color:red;
	grid-row-start:2;
	grid-row-end:3;
	flex:3;

}
.aside{
	background-color:blue;
	grid-row-start:2;
	grid-row-end:3;
	flex:1;

}
.footer{
	background-color:yellowgreen;
	grid-column-start:2;
	grid-column-end:-1;
}
